/* GLOBAL STYLES
-------------------------------------------------- */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
  font-family: 'Domine', serif;
  line-height: 1.8;
  color: #5a5a5a;
  background-color: #f7f7f7;
  font-weight: 400;
  position: relative;
}
/* position:relative is needy for scrollspy to work */

h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif;
}
h3 {
  color: #333;
  text-shadow: 1px 1px 1px #aeaeae; /* color, h-offset, v-offset, blur */
  letter-spacing: .09em;
}
hr.divider {
  background-color: #333;
  height: 2px;
  width: 7%;
  margin: 30px auto 50px auto;
  border-top: none;
}
.btn-default:hover {
  color: #fff;
  background-color: #1F4658;
  border-color: #1F4658;
}
a {
  text-decoration: underline;
  color: #1F4658;
}

/* NAVBAR
-------------------------------------------------- */
.navbar-brand {
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
}

.navbar-nav>li>a {
  font-family: 'Droid Sans', sans-serif;
  text-decoration: none;
}

/* active styles */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #1F4658;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #1F4658;
  background-color: transparent;
}

/* CUSTOMIZE THE Jumbotron
-------------------------------------------------- */
.jumbotron .container img.visible-xs-block{
  margin:30px auto 0 auto;
}
.jumbotron h1 {
  color: #1F4658;
  font-size: 4rem;
  text-shadow: 1px 1px 1px #777;
  font-weight: bold; 
  
}
.jumbotron h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #a7986c;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: .04em;
}
div.jumbotron {
  background: url(../img/hero-bg8.jpg) top center/cover no-repeat;
  border-bottom: 4px solid #aaa;
}


/* SERVICES
-------------------------------------------------- */
.custom-container-large {
    max-width: 100%;
}
@media (min-width: 768px) {
    .custom-container-large {
        width: 960px;
    }
}
@media (min-width: 992px) {
    .custom-container-large {
        width: 1070px;
    }
}
@media (min-width: 1200px) {
    .custom-container-large {
        width: 1300px;
    }
}

.services h4, .modal-title.services {
  font-weight: bold;
  color: #1F4658;
}
/*
.services .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
*/
.services .btn.btn-default {
  border: none;
}
div#services {
  padding-bottom: 40px;
  border-bottom: 1px solid #e9e9e9;
}


/* ABOUT
-------------------------------------------------- */
.about {
  background: white;
  border-bottom:4px solid #aaa;
  padding-top: 40px;
  padding-bottom: 60px;
}

.about-image {
  box-shadow: 2px 2px 5px #888888;
  margin-bottom: 20px;
}
.about a:hover {text-decoration: none;}


/* CONTACT
-------------------------------------------------- */
.contact {
  background: #a7986c;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #404040
}
.contact h3 {
  color: #fff;
}
.contact hr {
  background-color: #fff;
}
i {
  color: #1F4658;
}
.contact a {
  color: #1F4658;
}
.contact a:hover {text-decoration: none;}

.contact a.btn.btn-default {
  border: none;
}
hr.adr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #aeaeae;
}
div.map {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* FOOTER
-------------------------------------------------- */
.footer {
  color: white;
  background: #333;
  padding-top: 1em;
  padding-bottom: .2em;
}
.footer p {
  font-size: .8em;
  color: #777;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

span.rwd-line{
   display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  span.rwd-line{
   display: inline;
  }  
  .jumbotron .container{
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .jumbotron h1 {
    font-size: 5.8em;
    letter-spacing: .03em;
  }
  .jumbotron h2 {
  font-size: 2.3rem;
  }
  .about-image {
    margin: 10px 0 10px 20px;
    float: right;
    max-height: 600px;
  }
  /*FLEXXXXXBOX for Services section*/
  .equal, .equal > div[class*='col-'] {  
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex:1 0 auto;
  }
}

  .about-heading {
    font-size: ;
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.map {
    margin-bottom: 0;
    margin-top: 0;
  }
}

