/* GLOBAL STYLES
-------------------------------------------------- */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
  font-family: 'Domine', serif;
  line-height: 1.8;
  color: #5a5a5a;
  background-color: #f7f7f7;
  font-weight: 400;
  position: relative;
}
/* position:relative is needy for scrollspy to work */

h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif;
}
h1 {
  font-size: 5.5em;
}
h3 {
  color: #333;
}
hr.divider {
  background-color: #808082;
  height: 2px;
  width: 8%;
  margin: 30px auto 50px auto;
  border-top: none;
}
.btn-default:hover {
  color: #fff;
  background-color: #002c54;
  border-color: #002c54;
}

/* NAVBAR
-------------------------------------------------- */

.navbar-nav>li>a {
  font-family: 'Droid Sans', sans-serif; 
}

/* active styles */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #002c54;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #002c54;
  background-color: transparent;
}

.navbar-brand img {max-height: 150px;}


/* CUSTOMIZE THE Jumbotron
-------------------------------------------------- */
.jumbotron h1, h2, hr {
  color: #fff;
}
.jumbotron h1 {
  font-size: 8rem;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;  
}
.jumbotron hr.divider {
  background-color: #fff;
  height: 2px;
  width: 280px;
}
.jumbotron h2 {
  text-shadow: none;
  font-size: 2.3rem;
  line-height: 4rem;
}
div.jumbotron {
  background: url(../img/hero-bg.jpeg) center center/cover no-repeat;
  border-bottom: 4px solid #aaa;
}


/* SERVICES
-------------------------------------------------- */
.custom-container-large {
    max-width: 100%;
}
@media (min-width: 768px) {
    .custom-container-large {
        width: 960px;
    }
}
@media (min-width: 992px) {
    .custom-container-large {
        width: 1070px;
    }
}
@media (min-width: 1200px) {
    .custom-container-large {
        width: 1300px;
    }
}

.services h4, .modal-title.services {
  font-weight: bold;
  color: #002c54;
}
/*
.services .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
*/
.services .btn.btn-default {
  border: none;
}
div#services {
  padding-bottom: 40px;
}

/* ABOUT
-------------------------------------------------- */
.about {
  background: white;
  border-bottom:4px solid #aaa;
  padding-top: 40px;
  padding-bottom: 60px;
}

.about-image {
  box-shadow: 2px 2px 5px #888888;
  margin: 0 20px 10px 0;
}

/* CONTACT
-------------------------------------------------- */
.contact {
  background: #a7986c;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #404040
}
.contact h3 {
  color: #fff;
}
.contact hr {
  background-color: #fff;
}
span.fa {
  color: #002c54;
}
.contact a {
  color: #002c54;
}
.contact a.btn.btn-default {
  border: none;
}


/* FOOTER
-------------------------------------------------- */
.footer {
  color: white;
  background: #333;
  padding-top: 1em;
  padding-bottom: .2em;
}
.footer p {
    font-size: .8em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
span.rwd-line{
   display: block;
}

@media (min-width: 768px) {
  span.rwd-line{
   display: inline;
  }  
  .jumbotron .container{
    padding-top: 75px;
    padding-bottom: 50px;
    } 
  }

  .about-heading {
    font-size: ;
  }
}

@media (min-width: 992px) {
  .about-heading {
    margin-top: ;
  }
}

