/* GLOBAL STYLES
-------------------------------------------------- */

body {
  color: #5a5a5a;
  background: #f7f7f7;
  font-family: 'Domine', serif;
  font-weight: 400;
  position: relative;
}
/* position:relative is needy for scrollspy to work */

h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif;
}
h1 {
  font-size: 5.5em;
}
hr.divider {
  background-color: #808082;
  height: 2px;
  width: 20%;
  margin: 30px auto;
  border-top: none;
}
.btn-default:hover {
  color: #fff;
  background-color: #002c54;
  border-color: #002c54;
}

/* NAVBAR
-------------------------------------------------- */

/* active styles */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #002c54;
}

.navbar-nav>li>a {
  font-family: 'Droid Sans', sans-serif; 
}
.navbar-brand img {max-height: 150px;}


/* CUSTOMIZE THE Jumbotron
-------------------------------------------------- */
.jumbotron h1, h3, hr {
  color: #fff;
}
.jumbotron h1 {
  font-size: 8rem;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;  
}
.jumbotron hr.divider {
  background-color: #fff;
  height: 2px;
  width: 280px;
  margin: 30px auto;
}
.jumbotron h3 {
  text-shadow: none;
  font-size: 2.4rem;
}
div.jumbotron {
  background: url(img/hero-bg-c.jpeg) center center/cover no-repeat;
  border-bottom: 4px solid #aaa;
}


/* SERVICES
-------------------------------------------------- */

.services h4 {
  font-weight: bold;
  color: #002c54;
}
/*
.services .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
*/
.services a.btn.btn-default {
  border: none;
}
/* ABOUT
-------------------------------------------------- */

.about {
  background: white;
  border-bottom:4px solid #aaa;
  padding-top: 40px;
  padding-bottom: 60px;
}

.about-image {
  box-shadow: 2px 2px 5px #888888;
}

/* Footer
------------------------- */

.footer {
  color: white;
  background: #333;
  padding-top: 1em;
  padding-bottom: .2em;
}
.footer p {
    font-size: .8em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .jumbotron .container{
    padding-top: 75px;
    padding-bottom: 50px;
    } 
  }

  .about-heading {
    font-size: ;
  }
}

@media (min-width: 992px) {
  .about-heading {
    margin-top: ;
  }
}

